DATABASE_URL = "postgresql://user:password@host/dbname?sslmode=require"
R2_ACCESS_KEY_ID = "your-r2-access-key"
R2_SECRET_ACCESS_KEY = "your-r2-secret-key"
R2_ENDPOINT = "https://your-account-id.r2.cloudflarestorage.com"
R2_BUCKET_NAME = "mlnpm"
PORT = 3000
JWT_SECRET = "generate-a-secure-random-string-here"
SENDER_EMAIL=your@gmail.com
FRONTEND_URL = "https://mlnpm.vercel.app"
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=mlnpm-avatars
BREVO_API_KEY=your_brevo_api_key_here